.mb-10 {
    margin-bottom: 0.1rem;
}
.mb-15 {
    margin-bottom: 0.15rem;
}
.mb-20 {
    margin-bottom: 0.2rem;
}
.mb-25 {
    margin-bottom: 0.25rem;
}
.mb-30 {
    margin-bottom: 0.3rem;
}
.mb-35 {
    margin-bottom: 0.35rem;
}
.mb-40 {
    margin-bottom: 0.4rem;
}
.mb-50 {
    margin-bottom: 0.5rem;
}
.mb-60 {
    margin-bottom: 0.6rem;
}
.mb-65 {
    margin-bottom: 0.65rem;
}
.mb-70 {
    margin-bottom: 0.7rem;
}
.mb-90 {
    margin-bottom: 0.9rem;
}

.mr-10 {
    margin-right: 0.1rem;
}
.mr-15 {
    margin-right: 0.15rem;
}
.mr-20 {
    margin-right: 0.2rem;
}
.mr-30 {
    margin-right: 0.3rem;
}
.ml-10 {
    margin-left: 0.1rem;
}
.ml-30 {
    margin-left: 0.3rem;
}
.mt-10 {
    margin-top: 0.1rem;
}
.mt-30 {
    margin-top: 0.3rem;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.van-toast {
    background: rgba(0, 0, 0, 0.7) !important;
}

.van-button--default {
    border: none !important;
}

.van-dialog__confirm {
    color: #ff3737 !important;
}
